.recipe-meta {
  padding-top: 15px;
  margin-bottom: 20px;
}

.recipe-meta li a {
  color: #999;
  font-size: 13px;
}

.media-body h5 {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 20px;
  font-weight: 400;
}

 